 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .header {
     width: 100%;
     height: auto;
     position: relative;
 }

 .header__img {
     width: 1280px;
     height: 600px;
 }

 .header__first-slogan {
     position: absolute;
     left: 200px;
     top: 200px;
 }

 /*<header class="header">
        <img class="header__img">
        <h1 class="header__first-slogan">slogan duzy</h1>
        <h2 class="header__second-slogan">slogan mały</h2>
        <button class="button header__button">Wejdź</button>
    </header>
    <section class="main">
        <div class="logo main__logo">
            <img class="logo__img" src="">
            <p class="logo__text">Nazwa firmy</p>
        </div>
        <ul class="main__list-item">
            <li class="main__item"><a class="main__link" href="">File</a></li>
            <li class="main__item"><a class="main__link" href="">Edit</a></li>
            <li class="main__item"><a class="main__link" href="">View</a></li>
            <li class="main__item"><a class="main__link" href="">Help</a></li>
        </ul>
        </div>
        <form class="form">
            <input class="" type="text">
            <button class="button form__button">Szukaj</button>
        </form>
        <article class="article">
            <h1 class="article__title">Tytuł artykułu</h1>
            <h3 class="article__date-and-autor">
                <p class="article__date">Data produkcji -20.07.2019</p>
                <p class="article__autor">Autor: Jan Nowak</p>
            </h3>
            <p class="article__paragraph">Lorem ipsum...</p>
            <h2 class="article_undertitle">Sródtytuł</h2>
            <p class="article__paragraph">Lorem ipsum...</p>
            <button class="button article__button">Czytaj dalej</button>
        </article>
    </section>
    <footer class="footer">
        <p class="copyright">Copyright</p>
        <p class="footer__adres">Adres</p>
    </footer>
</body> */